[Unit]
Description=Service to Load the FrOST LKMs
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/frost_edge_lkms.sh
Restart=no
User=root
Group=root

[Install]
WantedBy=multi-user.target