Source: frost-edge
Maintainer: Tyler Davis <openspeech@sensorlogic.ai>
Build-Depends:
Standards-Version: 3.7.2

Package: frost-edge
Depends: 
Priority: optional
Architecture: any
Description: Deployment of the Frost Edge including Frost LKMs and the Frost Web App.


